name: Quick Scratch CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit hooks on all files
        run: SKIP=no-commit-to-branch pre-commit run --all-files

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      # Taken from https://github.com/marketplace/actions/stylua#usage
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Install Lua, Luarocks, luacheck
        run: |
          sudo apt update
          sudo apt install -y lua5.1 luarocks
          sudo luarocks install luacheck

      - name: Run luacheck
        run: luacheck .
